# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: First python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  my-first-ci:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.12", "3.13"]
    

    steps:
    - name: checkout repository
      uses: actions/checkout@v6
    - name: Set up Python 
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
    - name: Install uv
      run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
    - name: Install dependencies using uv
      run: |
        python -m pip install --upgrade pip
        python -m pip install ruff pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with ruff
      run: |
        uv run ruff check
    - name: Test with pytest
      run: |
        uv run pytest test
